header
    height: 100vh
    position: relative
    background-color: yellow
    padding-top: 60px
    overflow: hidden
    img.bg
        height: 100%
        position: absolute
        top: 60px
        left: -400px
    aside.aside-header
        position: absolute
        top: 70px
        left: 50%
        transform: translateX(-50%)
        width: 200px
        height: 300px
        font-family: "Raleway"
        overflow: hidden
        h1
            text-align: center
            font-size: 25px
            margin-bottom: 10px
        p
            font-size: 15px
            text-align: center
        button
            margin-top: 15px
            width: 200px
            height: 55px
            font-size: 20px
            text-transform: uppercase
            color: white
            background-color: #ff6033
            border: none
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5)
            cursor: pointer

    div.scroll
        position: absolute
        bottom: 20px
        left: 50%
        transform: translateX(-50%)
        
        


    