@media (min-width:443px) 
    header
        img.bg
            left: 0
            width: 100%
            
    
    
@media (min-width:568px)
    header
        img.bg
            left: 0
            width: 100%
        aside.aside-header
            width: 350px
            top: 90px
            left: 20px
            transform: none
            h1
                text-align: start
            p
                text-align: start

    section.about-us
        div.img-about-us
            height: 100%
            top: 0
        aside.about-us-aside
            overflow: hidden
            width: 220px
            color: white
            top: 50%
            transform: translate(-45%,-52%)



@media (min-width:640px)
    section.subscribe-us
        img.bg
            width: 80%
            left: 50%
            transform: translateX(-50%)

@media (min-width:731px)    
    section.about-us
        aside.about-us-aside
             transform: translate(-58%,-50%)

@media (min-width:768px)   
    nav
        div.nav-wrapper
            div.logo
                font-size: 30px
                top: -10px
            i.fa-bars
                top: 15px
                font-size: 30px
    header
        aside.aside-header
            width: 350px
            height: 316px
            top: 100px
            left: 84px
            transform: none
            h1
                font-size: 60px
            p
                font-size: 20px
    
    section.about-us
        display: flex
        flex-direction: row
        align-items: center
        div.img-about-us
            position: static
            height: 85%

            img
                width: 450px
        aside.about-us-aside
            position: absolute
            top: 50%
            left: 50%
            transform: translate(18%, -50%)
            width: 300px
            height: 350px 
            h1
                text-align: start
                font-size: 60px
            p
                font-size: 17px
           
    section.our-services
        h1
            position: absolute
            color: white
            font-size: 90px
        div.wrap
            padding-top: 0px 
            justify-content: flex-start
            height: 100%
            padding-left: 6% 
            align-items: center
            .wrap-content    
                width: 350px
        .img-our-services
            bottom: 50%
            left: 52%
            transform: translateY(56%) 
            height: 50%

    section.gallery
        h1
            font-size: 90px
        div.container
            width: 570px
            height: 70px
            p
                font-size: 17px
                
        div.wrap-gallery
            width: 550px
            overflow: hidden
            div.wrap-content-4.active
                height: 418px
                .img-6
                    height: 229px
                    padding: 10px
                .img-7
                    height: 229px
                    padding: 10px

    section.subscribe-us
        div.wrapper
            width: 330px
            h1
                font-size: 40px
                margin-bottom: 18px
            div.container
                p
                    font-size: 18px
            input
                width: 310px
                
    section.blog
        h1
            padding-top: 100px
            font-size: 90px
        div.container
            width: 563px
            font-size: 18px
        div.wrapper
            margin-top: 50px
            margin-bottom: 50px
            width: 690px
            height: 280px
            flex-direction: row

            div.image.image-1,div.image.image-2,div.image.image-3
                height: 100%

    section.contact
        h1
            font-size: 90px
        div.container
            width: 342px
            p
                font-size: 18px
        div.wrapper
            width: 700px
            height: 445px
            flex-direction: row
            div.info
                color: black
                margin-top: 0px
                margin-left: 50px


@media (min-width:1280px) 
    nav
        div.nav-wrapper
            div.logo
                transform: none
                left: 30px
            i.fa-bars
                display: none
            ul
                display: inline-block
                position: static
                
                width: 80%
                margin-left: 20%
                height: 60px
                display: flex
                flex-direction: row
                li
                    

    header
        aside.aside-header
            width: 569px
            height: 316px
            top: 300px
            left: 164px
            transform: none
            h1
                font-size: 60px
            p
                font-size: 24px
            button
                margin-top: 31px
    
    section.about-us
        display: flex
        align-items: center
        div.img-about-us
            margin-left: 102px
            height: 100%
            img
                width: 100%
        aside.about-us-aside
            margin-left: 94px
            position: static
            transform: none
            width: 499px
            height: 289px
            text-align: start          
            h1
                font-size: 90px
            p
                font-size: 17px
            p:nth-of-type(1)
                margin-bottom: 10px      

    section.our-services
        h1
            font-size: 90px  
            margin-top: 0px
            width: auto
            top: 50%
            left: 55%
           
        div.wrap
            height: 100%
            display: flex
            align-items: center
            justify-content: center
            .wrap-content
                display: flex
                flex-direction: column
                width: 400px
                .withIcon
                    flex-basis: 100px
                    display: flex
                    margin-bottom: 20px
                    background-color: #ffffff
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5)
                    align-items: center
                    h2
                        flex-basis: 75% //300px
                        height: 100px
                        border-right: 2px solid #9d9d9d
                        color: #262626
                        font-size: 20px
                        display: flex
                        justify-content: center
                        align-items: center
                        
                    img     
                        width: 47px
                        height: 44px
                        margin: 0 auto
                .withIcon:nth-of-type(4)
                    margin-bottom: 0px
                .withIcon:nth-of-type(3)
                    h2
                        text-align: center
            .img-our-services
                position: static
                transform: none
                margin-left: 258px
                height: 60%
                        
    section.gallery
        h1
            padding-top: 100px
        div.container
            width: 577px

        div.wrap-gallery
            width: 1170px
            height: 980px
            margin: 46px auto 80px auto   
            display: flex
            flex-direction: column
            img
                width: 100%
            div.wrap-content-1
                height: 550px
                flex-direction: row
                div.img-1
                    flex-basis: 770px
                    height: 100%
                    padding: 0
                div.wrap-content-2
                    display: flex
                    flex-direction: column
                    flex-grow: 1
                    height: 100%
                    margin-left: 30px
            
                    div.img-2
                        height: 260px
                        flex-basis: 370px
                        
                        padding: 0
                        padding-bottom: 10px
                    div.img-3
                        height: 260px
                        flex-basis: 370px
                        padding: 0
                        padding-top: 10px

            div.wrap-content-3
                flex-grow: 1
                margin-top: 30px
                display: flex
                flex-direction: row
                div.img-4
                    flex-basis: 585px
                    padding: 0
                    height: 100% 
                    pdiv-  
                div.img-5
                    flex-grow: 1
                    margin-left: 30px
                    padding: 0 
                    height: 100%   

        

    section.gallery.active
        height: 1967px

    section.gallery
        div.wrap-gallery.active
            height: 1411px
        
    section.gallery
        div.wrap-gallery
            div.wrap-content-4.active
                display: block
                margin-top: 20px
                height: 431px
                display: flex
                flex-direction: row
                .img-6
                    flex-basis: 570px
                    padding: 0
                    height: 100%
                .img-7
                    flex-grow: 1
                    padding: 0
                    margin-left: 30px
                    height: 100%
    
    section.subscribe-us
        img.bg
            bottom: 0
            left: 50%
            transform: none
            width: 599px
            height: 500px
        div.wrapper
            width: 776px
            height: 198px
            position: absolute
            top: 145px
            left: 143px
            h1
                margin-bottom: 34px
                text-align: start
            div.container
                margin-bottom: 5px
                p
                    font-size: 18px
                    width: 600px
                    height: 43px
                    text-align: start
            input
                width: 570px
                margin: 0
                height: calc(198px - 47px - 34px - 31px - 43px)
                padding: 22px 0 22px 15px
    
    section.blog
        div.wrapper
            margin-top: 47px
            margin-bottom: 50px
            width: 1170px
            height: 310px
            flex-direction: row
            div.image.image-1,div.image.image-2,div.image.image-3
                height: 100%
                div.date
                    top: 30px
                    left: 30px
                    width: 60px
                    height: 60px
                    p
                        font-size: 22px
                        text-align: center
                        font-weight: 700

    section.contact
        div.wrapper
            width: 987px
            height: 445px
            flex-direction: row
            form
                flex-basis: 500px
            div.info
                color: black
                margin-top: 0px
                margin-left: 50px       

    footer
        p
            position: absolute

        p:nth-of-type(1)
            font-size: 16px
            bottom: 50%
            left: 164px
            transform: none
            transform: translateY(50%)
            width: auto
        h2
            text-align: center
            line-height: 90px
            font-family: Pacifico
            font-size: 25px
            letter-spacing: 1px
            font-weight: 400
            padding-top: 0

        p:nth-of-type(2)
            font-size: 16px
            top: 50%
            width: 220px
            left: calc(100% - 250px)
            transform: translateY(-50%)