section.subscribe-us
    height: 500px
    //background-image: url("https://pathfiinder.github.io/Weekly-Webdev-Challenge-2-Cahee/images/bg_subscribe.png")
    //background-repeat: no-repeat
    //background-position: center
    //background-position-x: right
    font-family: Raleway
    position: relative
    img.bg
        position: absolute
        bottom: -50px
        left: 0
        width: 100%
        height: 300px
        z-index: -1
    div.wrapper
        width: 280px
        overflow: hidden
        height: 300px
        margin: 0 auto
        h1
            font-size: 25px
            margin-top: 20px
            margin-bottom: 34px
            text-align: center
        div.container
            margin-bottom: 20px
            text-align: center
            p
                font-size: 15px
                
        input
            width: 260px
            height: 43px
            margin: 0px 10px 0px 10px
            padding: 22px 0 22px 15px
            
        input::placeholder
            color: #262626
            font-size: 15px
            opacity: 0.5
        div.button-container
            width: 100%
            margin: 10px auto 0 auto
            text-align: center
            button
                width: 170px
                height: 55px
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5)
                background-color: #96b92c
                color: white
                text-transform: uppercase
                border: none
                cursor: pointer