*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    min-height: 300vh

div.wrapper-body
    max-width: 1500px
    margin: 0 auto
    
@import "_nav"
@import "_header"
@import "_about-us"
@import "_our-services"
@import "_media"
@import "_gallery"
@import "_subscribe-us"
@import "_blog"
@import "_contact"
@import "_footer"
@import "_media"
